body {
  background-color: #1078b5;
  color: #fdffff;
    width: 500px;
  margin-right: auto;
  margin-left: auto;
  button {
  padding: 8px 30px;
  background-color: #fdffff;
  border-style: none;
}
input {
  height: 20px
}
}